<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MyForum</display-name>
  <filter>
  	<filter-name>Struts2</filter-name>
  	<filter-class>
  		org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
  	</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>Struts2</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- <filter>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <filter-class>filter.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>gb2312</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>LoginOrNotFilter</filter-name>
    <filter-class>filter.LoginOrNotFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginOrNotFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping> -->
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>servlet.MainServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendCardServlet</servlet-name>
    <servlet-class>servlet.SendCardServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelfCardServlet</servlet-name>
    <servlet-class>servlet.SelfCardServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteCardServlet</servlet-name>
    <servlet-class>servlet.DeleteCardServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <servlet-name>ReplyCardServlet</servlet-name>
    <servlet-class>servlet.ReplyCardServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LookReply</servlet-name>
    <servlet-class>servlet.LookReply</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>servlet.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteSectionServlet</servlet-name>
    <servlet-class>servlet.DeleteSectionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeSectionServlet</servlet-name>
    <servlet-class>servlet.ChangeSectionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateSectionServlet</servlet-name>
    <servlet-class>servlet.UpdateSectionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeUserServlet</servlet-name>
    <servlet-class>servlet.ChangeUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OutLoginServlet</servlet-name>
    <servlet-class>servlet.OutLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>KeepTopServlet</servlet-name>
    <servlet-class>servlet.KeepTopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendCardServlet</servlet-name>
    <url-pattern>/SendCardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelfCardServlet</servlet-name>
    <url-pattern>/SelfCardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCardServlet</servlet-name>
    <url-pattern>/DeleteCardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReplyCardServlet</servlet-name>
    <url-pattern>/ReplyCardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LookReply</servlet-name>
    <url-pattern>/LookReply</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSectionServlet</servlet-name>
    <url-pattern>/DeleteSectionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeSectionServlet</servlet-name>
    <url-pattern>/ChangeSectionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateSectionServlet</servlet-name>
    <url-pattern>/UpdateSectionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeUserServlet</servlet-name>
    <url-pattern>/ChangeUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OutLoginServlet</servlet-name>
    <url-pattern>/OutLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KeepTopServlet</servlet-name>
    <url-pattern>/KeepTopServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
</web-app>